<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container text-center">
        <h1> Books </h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Title </th>
                    <th scope="col"> Author </th>
                    <th scope="col"> Series </th>
                    <th scope="col"> Genre </th>
                    <th scope="col"> Pages </th>
                    <th scope="col"> Published </th>
                    <th scope="col">Have Read</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach( (book) => { %>
                    <tr>
                        <td> <%= book.Title %></td>
                        <td> <%= book.Author %></td>
                        <td> <%= book.Series %></td>
                        <td> <%= book.Genre %></td>
                        <td> <%= book.Pages %></td>
                        <td> <%= book.Published %></td>
                        <td>
                            <% 
                            let bookIconClass = "bi bi-book"
                            readBooks.forEach( (readBook) => {
                                if ( readBook.Title === book.Title) {
                                    bookIconClass = "bi bi-book-fill"
                                    return;
                                } 
                            }) 
                            %>
                            <i id="bookIcon" class="<%= bookIconClass %>" style="color: green" onclick="addToReadBooks('<%= book.id %>')"></i>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>