<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book i have read</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container text-center">
        <h1> Books I have read </h1>
        <form class="form-group" action="/search/readBooks" method="post">
            <div class="container  d-flex justify-content-center w-50">
                <input class="form-control " type="text" id="searchField" name="search" placeholder="Search Title, Author, Series or Genre">
                <button class="btn btn-success" id="searchButton" > Search </button>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Title </th>
                    <th scope="col"> Author </th>
                    <th scope="col"> Series </th>
                    <th scope="col"> Genre </th>
                    <th scope="col"> Pages </th>
                    <th scope="col"> Published </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach( (readBook) => { %>
                    <tr>
                        <td class="text-primary"> <%= readBook.Title %></td>
                        <td> <%= readBook.Author %></td>
                        <td> <%= readBook.Series %></td>
                        <td> <%= readBook.Genre %></td>
                        <td> <%= readBook.Pages %></td>
                        <td> <%= readBook.Published %></td>
                        <td>
                            <% 
                                let starIcon = "bi bi-star";
                                favouriteBooks.forEach( (favouriteBook) => {
                                    if ( favouriteBook.Title === readBook.Title) {
                                        starIcon = "bi bi-star-fill";
                                        return;
                                    }
                                })
                            %>
                            <i class="<%= starIcon %>" style="color: gold" onclick="addOrRemoveToFavourites('<%= readBook.BookId %>')"></i>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <h1>Stats</h1>
    </div>
    <div class="w-25 d-flex mx-auto justify-content-center">
        <canvas id="genrePieChart"></canvas>
        
    </div>
</body>
</html>