<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book i have read</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container text-center">
        <h1> Books I have read </h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Title </th>
                    <th scope="col"> Author </th>
                    <th scope="col"> Series </th>
                    <th scope="col"> Genre </th>
                    <th scope="col"> Pages </th>
                    <th scope="col"> Published </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach( (book) => { %>
                    <tr>
                        <td class="text-primary"> <%= book.Title %></td>
                        <td> <%= book.Author %></td>
                        <td> <%= book.Series %></td>
                        <td> <%= book.Genre %></td>
                        <td> <%= book.Pages %></td>
                        <td> <%= book.Published %></td>
                        <td>
                            <i class="bi bi-star"></i>
                        </td>
                    </tr>
    
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>